html,
body{
	height: 100%;
}

body {
   font-size: 16px;
	line-height: 1;
   color: $default;
   @extend %dmsans-700;
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
}

.container {
   max-width: 1800px;
   margin: 0 auto;
   padding: 0 15px;
}

.container2{
	max-width: 1200px;
	margin: 0 auto;
   padding: 0 15px;
}

a {
   @extend %rubik-400;
   font-size: 14px;
   line-height: 24px;
   color: $link;
}

.title{
	color: $title2;
	font-size: 36px;
	line-height: 1;
}


 