@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
   padding: 46px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }

   &__list-item+.menu__list-item {
      margin-left: 32px;
   }

   &__list-link {
      @extend %rubik-500;
      font-size: 15px;
      line-height: 25px;
      padding: 0 2px 1px;
      color: $default;
      transition: all 0.3s;
      border-bottom: 1px solid transparent;

      &:hover {
         border-bottom: 1px solid $title2;
      }
   }
}

.user-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 0 1 317px;

   &__link {
      position: relative;
   }

   &__link-search {
      img {
         padding: 17px 17px;
      }

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #edf1f4;
   }

   &__link-due {
      display: flex;
      justify-content: space-between;
      background: #fcd7b6;
      flex: 0 1 178px;
      padding: 17px 42px;
      border-radius: 27px 27px 27px 27px;
      position: relative;

      &::after {
         position: absolute;
         content: "";
         background-color: #fde7d3;
         width: 1px;
         height: 32px;
         top: 13px;
         left: 50%;
      }
   }

   &__num {
      position: absolute;
      width: 16px;
      height: 16px;
      font-size: 10px;
      line-height: 17px;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      color: $title1;
      top: -8px;
      right: -10px;
   }
}

.footer {
   padding-top: 78px;
}

.footer-top {
   border-bottom: 1px solid #dae4e9;
   display: flex;
   padding-bottom: 72px;

   &__contact {
      width: 217px;
      margin-right: 105px;
   }

   &__logo {
      margin-bottom: 20px;
      display: block;
   }

   &__adress,
   &__phone,
   &__email {
      display: block;
      margin-bottom: 10px;
   }

   &__nav {
      width: 137px;
      margin-right: 180px;
   }

   &__link {
      margin-bottom: 10px;
      display: block;
   }

   &__item-form {
      max-width: 270px;
   }

   &__title {
      text-transform: uppercase;
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 21px;
      color: #1f2044;
      margin-bottom: 21px;
   }

   &__text {
      @extend %rubik-400;
      font-size: 14px;
      color: $link;
      line-height: 24px;
      margin-bottom: 36px;
   }

   &__form {
      display: flex;
      align-items: center;
   }

   &__form-input {
      width: 100%;
      background-color: #fef7f0;
      border: none;
      padding: 13px 10px 13px 15px;

      &::placeholder {
         color: #234969;
         @extend %dmsans-400;
         font-size: 12px;
      }
   }

   &__form-btn {
      @extend %dmsans-400;
      font-size: 14px;
      line-height: 21px;
      padding: 11px 15px;
      color: #fff;
      background-color: #a3bbc8;
      border: none;
      cursor: pointer;
   }
}

.footer-bottom {
   padding: 30px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__menu-list {
      display: flex;
      flex: 0 1 255px;
      justify-content: space-between
   }

   &__menu-item+.footer-bottom__menu-item {
      padding-left: 14px;
      border-left: 1px solid $link;
   }

}

// ********************** TOP-SLIDER ***********************************************

.top-slider {
   &__bg {
      background-color: #fcd7b6;
      padding: 100px 0 40px;
   }

   &__inner {
      background: url('../images/slider/slider-bg.png');
      background-repeat: no-repeat;
      background-size: 630px 630px;
      background-position-x: 82%;
      background-position-y: 30%;
      padding-top: 145px;
   }

   &__item {
      max-width: 1166px;
      margin: 0 auto;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 207px;
   }

   &__title {
      @extend %rubik-500;
      font-size: 72px;
      line-height: 70px;
      color: $title1;
      margin-bottom: 28px;
      max-width: 530px;
   }

   &__text {
      @extend %rubik-400;
      font-size: 18px;
      line-height: 30px;
      color: #436372;
      margin-bottom: 25px;
      max-width: 370px;
   }

   &__link {
      @extend %btn;
   }

   &__img {
      margin-top: 50px;
      height: 263px;
   }

   .slick-dots {
      display: flex;
      justify-content: center;

      li {
         button {
            background-color: #fde3cc;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 13px;
            font-size: 11px;
            @extend %rubik-500;
            color: $title2;
         }
      }

      .slick-active {
         button {
            background-color: #fff;
         }

      }
   }
}

// ************************************** DOP **********************************

.dop {
   &__inner {
      background-color: #fef7f0;
      display: flex;
   }

   &__item {
      flex: 0 1 33.333%;
      padding: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__item:not(:last-child) {
      border-right: 1px solid #e8e4df;
   }

   &__icon {
      margin-right: 25px;
   }

   &__content {
      flex: 0 1 215px;
   }

   &__title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
   }

   &__text {
      @extend %dmsans-400;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
   }
}

// ************************ WEEK ******************************************

.week {
   padding: 73px 0 185px;

   &__title {
      margin-bottom: 35px;
      text-align: center;
   }

   &__filter {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
   }

   &__filter-btn {
      color: #8b8b8b;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;

      &:not(:last-child) {
         margin-right: 30px;
      }
   }

   &__filter-btn.mixitup-control-active {
      color: $title2;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 40px;
   }
}



.week-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 25px 35px;
   border-radius: 10px;
   box-shadow: 3px 5.196px 47px 3px rgba(37, 37, 37, 0.05);
   position: relative;

   &:hover .week-item__selection {
      opacity: 1;
   }

   &__images {
      margin-bottom: 75px;
      flex-grow: 1;
   }

   &__title {
      margin-bottom: 15px;
      color: $title1;
   }

   &__price {
      color: #a3bbc8;
   }

   &__selection {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
   }
	&__box {
		width: 45px;
		height: 45px;
		background-color: #fff;
		border-radius: 50%;
		transition: all 0.3s;
		display: flex;
		justify-content: center;
		align-items: center;

		&:not(:last-child) {
			margin-right: 16px;
		}

		&:hover {
			background-color: #a3bbc8;
		}

		path {
			transition: all 0.3s;
		}

		&:hover path {
			fill: #fff;
		}
	}
}

.star{
	padding-top: 50px;
	margin: 0 auto;
}


// *********************** VIDEO **************************************

.video {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   &__popup {
      height: 610px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

}















// **************************************** ADAPTIV *****************
@import "media";